# LiveChat.com license ID from Settings → Channels → Website.
# When set, the official LiveChat widget loads (lower-left via CSS).
# Leave empty to use the built-in AI chat trained on site knowledge.
NEXT_PUBLIC_LIVECHAT_LICENSE_ID=
